.count-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  div {
    color: $color-grey-dark;

    &.wealth-count {
      margin-bottom: 0.5rem;
    }
  }

  span.wealth-count-num {
    font-size: 1.15rem;
    font-weight: 700;
    color: $color-green-dark;
  }

  span.per-second-num {
    font-size: 1.15rem;
    font-weight: 700;
    color: $color-green;
  }

  .total-net-worth {
    margin-top: 0.3rem;

    .net-worth-num {
      font-size: 1.15rem;
      font-weight: 700;
      color: $color-green;
    }
  }
}
